In [1]:
import pandas as pd
import numpy as np

In [2]:
d={'SKY':['SUNNY','SUNNY','SUNNY','SUNNY'],
   'TEMP':['WARM','WARM','COLD','WARM'],
   'HUMIDITY':['NORMAL','HIGH','HIGH','HIGH'],
   'WIND':['STRONG','STRONG','STRONG','STRONG'],
   'WATER':['WARM','WARM','WARM','COLD'],
   'FORCAST':['SAME','SAME','CHANGE','CHANGE'],
   'ENJOY':['YES','YES','NO','NO']}

In [3]:
df=pd.DataFrame(d)

In [4]:
with open('WEATHER.CSV','w') as f:
    df.to_csv(f)

In [5]:
df.head()

     SKY  TEMP HUMIDITY    WIND WATER FORCAST ENJOY
0  SUNNY  WARM   NORMAL  STRONG  WARM    SAME   YES
1  SUNNY  WARM     HIGH  STRONG  WARM    SAME   YES
2  SUNNY  COLD     HIGH  STRONG  WARM  CHANGE    NO
3  SUNNY  WARM     HIGH  STRONG  COLD  CHANGE    NO

In [6]:
data=np.array(df)[:,:-1]

In [7]:
data

array([['SUNNY', 'WARM', 'NORMAL', 'STRONG', 'WARM', 'SAME'],
       ['SUNNY', 'WARM', 'HIGH', 'STRONG', 'WARM', 'SAME'],
       ['SUNNY', 'COLD', 'HIGH', 'STRONG', 'WARM', 'CHANGE'],
       ['SUNNY', 'WARM', 'HIGH', 'STRONG', 'COLD', 'CHANGE']],
      dtype=object)

In [8]:
target=np.array(df)[:,-1]

In [9]:
target

array(['YES', 'YES', 'NO', 'NO'], dtype=object)

In [30]:
def train(c, t):
    s = None 
    for i, val in enumerate(t):
        if val == "YES":
            s = c[i].copy()
            break 
    if s is None:
        return "No Positive Examples"
    for i, val in enumerate(t):
        if val == "YES":
            for x in range(len(s)):
                if c[i][x] != s[x]:
                    s[x] = "?"
    return s

In [31]:
print("the final hypothesis is",train(data,target))

the final hypothesis is ['SUNNY' 'WARM' '?' 'STRONG' 'WARM' 'SAME']