In [1]:
import pandas as pd
from sklearn import tree
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB

In [2]:
data=pd.read_csv("6.csv")

In [5]:
data.head()

   age  gender familyhistory      diet  lifestyle cholestrol heartdiease
0   45    male           yes  balanced     active       high          no
1   52  female            no       veg  sedantory     normal         yes
2   60    male           yes    nonveg     active     normal          no
3   36  female            no       med     active     normal          no
4   70    male           yes   lowcarb  sedantary       high         yes

In [8]:
le=LabelEncoder()

In [16]:
data['gender']=le.fit_transform(data['gender'])
data['familyhistory']=le.fit_transform(data['familyhistory'])
data['diet']=le.fit_transform(data['diet'])
data['lifestyle']=le.fit_transform(data['lifestyle'])
data['cholestrol']=le.fit_transform(data['cholestrol'])
data['heartdiease']=le.fit_transform(data['heartdiease'])

In [17]:
X=data.iloc[:,:-1]

In [18]:
X.head()

   age  gender  familyhistory  diet  lifestyle  cholestrol
0   45       1              1     0          0           0
1   52       0              0     4          2           1
2   60       1              1     3          0           1
3   36       0              0     2          0           1
4   70       1              1     1          1           0

In [19]:
y=data.iloc[:,-1]

In [20]:
y.head()

0    0
1    1
2    0
3    0
4    1
Name: heartdiease, dtype: int64

In [21]:
data.head()

   age  gender  familyhistory  diet  lifestyle  cholestrol  heartdiease
0   45       1              1     0          0           0            0
1   52       0              0     4          2           1            1
2   60       1              1     3          0           1            0
3   36       0              0     2          0           1            0
4   70       1              1     1          1           0            1

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [23]:
GNB=GaussianNB()

In [24]:
GNB.fit(X_train, y_train)

GaussianNB()

In [25]:
y_pred=GNB.predict(X_test)

In [26]:
from sklearn.metrics import accuracy_score
print("Accuracy is : ",accuracy_score(y_pred,y_test))

Accuracy is :  1.0

In [27]:
age=56
gender=1
familyhistory=0
diet=1
lifestyle=0
cholesterol=1

In [28]:
features=[[age,gender,familyhistory,diet,lifestyle,cholesterol]]

In [29]:
y=GNB.predict(features)
if y==0:
    print("The patient doesn't have heart diseases")
else:
    print("The patient has heart disease")

The patient doesn't have heart diseases

E:\Anaconda\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(